<div class="signup__input">
  <form #formSignUp="ngForm" text-center (ngSubmit)="signUpForm(formSignUp)">
    <ion-item lines="none" class="signup__signup">
      <ion-label class="signup__align">
        <ion-icon name="mail"></ion-icon>
      </ion-label>
      <ion-input #emailCtrlUp="ngModel" email type="email" ngModel name="email" required placeholder="Email"></ion-input> 
    </ion-item>
    <ion-item lines="none" class="signup__signup">
      <ion-label class="signup__align">
        <ion-icon name="lock"></ion-icon>
      </ion-label>
      <ion-input ngModel name="pwd" required placeholder="Password" type="password" *ngIf="!showPwd"></ion-input>
      <ion-input ngModel name="pwd" required placeholder="Password" type="text" *ngIf="showPwd"></ion-input>
      <ion-label class="signup__align">
        <ion-icon name="eye" *ngIf="!showPwd"></ion-icon>
        <ion-icon name="eye-off" *ngIf="showPwd"></ion-icon>
      </ion-label>
    </ion-item>
    <ion-button type="submit">Sign Up</ion-button>
  </form>
</div>