.gender{
    position: relative;
    font-family: Averta Regular;
    &__header{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        position: relative;
        height: 44px;
    }
    &__back{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        width: 16px;
        height: 13px;
        color: rgb(253, 101, 117);
    }
    &__title{
        margin: 0;
        font-weight: 700;
        font-size: 16px;
        color: rgb(45,48,51);
    }

    &__main{
        padding-top: 62px;
        width: 100%;
        text-align: center;
        background: #FBFBFC;
        height: calc(100vh - 44px);
        position: relative;
        h1{
            font-size: 24px;
            color: rgb(45, 50, 51);
            font-weight: 700;
        }
    }
    &__save{
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        width: 135px;
        height: 48px;
        line-height: 48px;
        --border-radius: 24px;
        --color: #fff;
        --background: rgb(253, 101, 117);
    }
    &__opts{
        margin-top: 100px;
        display: flex;
        justify-content: space-evenly;
    }
    &__sex--male, &__sex--female{
        width: 110px;
        height: 110px;
        display: inline-block;
        // margin-left: 25px;
        border-radius: 50%;
        border: 1px solid rgb(224, 227, 230);
    }
    &__sex--male[active]{
        border: 1px solid rgb(74, 148, 207);
    }
    &__sex--female[active]{
        border: 1px solid rgb(253, 101, 117);
    }
    &__text--male, &__text--female{
        font-size: 24px;
        width: 100%;
        text-align: center;
        display: none;
        margin-top: 20px;
        font-weight: 700;
    }
    &__text--male[show=true]{
        color: rgb(74, 148, 207);
        display: block;
    }
    &__text--female[show=true]{
        color: rgb(253, 101, 117);
        display: block;
    }

}