<section class="birthday">
  <header class="birthday__header">
    <ion-icon class="birthday__back" name="arrow-back" slot="start" (click)="back()"></ion-icon>
    <h2 class="birthday__title">Birthday</h2>
  </header>
  <main class="birthday__main">
    <h1>When is your birthday?</h1>
    <form class="birthday__form">
      <ion-datetime display-format="YYYY MMM DD" value="1990-02-19" placeholder="Select Date" #datetime></ion-datetime>
      <div class="birthday__date">
        <div class="birthday__block">
          <ion-input class="birthday__date--value" placeholder="Oct" maxlength="3" type="text"></ion-input>
        <!-- <div class="birthday__date--value">{{ datetime.value.split("-")[1] }}</div> -->
          <div class="birthday__date--key">MONTH</div>
        </div>
        <div class="birthday__block">
          <ion-input class="birthday__date--value" placeholder="23" [min]="0" [max]="31" type="number"></ion-input>
        <!-- <div class="birthday__date--value">{{ datetime.value.split("-")[2].slice(0,2) }}</div> -->
          <div class="birthday__date--key">DAY</div>
        </div>
        <div class="birthday__block">
          <ion-input class="birthday__date--value" placeholder="1995" maxlength="4" type="number"></ion-input>
        <!-- <div class="birthday__date--value">{{datetime.value.split("-")[0]}}</div> -->
          <div class="birthday__date--key">YEAR</div>
        </div>
      </div>
      <!-- <ion-grid>
        <ion-row>
          <ion-col size=""></ion-col>
        </ion-row>
      </ion-grid> -->
    </form>
    <ion-button class="birthday__save" (click)="saveGender()">Save</ion-button>
  </main>
</section>